<title><%= page %></title>
<meta charset="utf-8" />
<meta name="active-menu" content="<%= menuId %>" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="./stylesheets/style.css" />

<head> </head>
