<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">ACCUEIL</a></li>
        <li id="hugues"><a href="/hugues-capet">HUGUES CAPET</a></li>
        <li id="louis"><a href="/louis">LOUIS IX</a></li>
        <li id="auguste"><a href="/auguste">PHILIPPE AUGUSTE</a></li>
        <li id="lebel"><a href="/lebel">PHILIPPE LE BEL</a></li>
        <li id="formulaire"><a href="/formulaire">INSCRIPTION</a></li>
      </ul>
    </div>
  </div>
</nav>
