<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/menu %>
    <h3><% page %></h3>
    <section class="conteneur-diapo">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="img1.jpg">
          <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="img2.jpg">
          <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="img3.jpg">
          <div class="text">Caption Three</div>
        </div>
        
        <!-- bouton suivant / precedent -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        
        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </section class="formu">
    <section>
    <form action="/" method="POST">
      <div class="formBox">
      <fieldset>
        <legend>Contact</legend>
        <label for="nom">Nom</label>
        <!--placeholder: indication grisée
                required: il faut renseigner le champs sinon la validation est bloquée
                autofocus: le curseur est positionné dans cette case au chargement de la page-->
        <input id="nom" autofocus="" required="" /><br />
        <label>Prenom</label>
        <input id="prenom" autofocus="" required="" /><br />
        <label for="telephone">Portable</label>
        <!--type="tel": bascule le clavier sur un smartphone
                pattern: expression régulière à vérifier pour pouvoir valider-->
        <input
          id="telephone"
          type="tel"
          pattern="(0|\\+33|0033)[1-9][0-9]{8}"
        /><br />
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          required=""
        /><br />
        <label for="adresse">Adresse</label>
        <input id="adresse" autofocus="" required="" />
      </fieldset>
      <fieldset>
        <legend>Information personnelles</legend>
        <label for="age">Date de naissance</label>
        <!--type="number": bascule le clavier sur un smartphone -->
        <input id="age" type="date" pattern="[0-9]{2}" required="" /><br />
        <label for="sexe">Sexe</label>
        <select id="sexe">
          <option value="F" name="sexe">Femme</option>
          <option value="H" name="sexe">Homme</option> </select
        ><br />
      </fieldset>
      <input type="submit" id="submit" value="Envoyer le formulaire">
      </div>
    </form> 
    </section>
   
    <!--SCRIPT DIAPORAMA-->

    <script>var slideIndex = 1; var mySto; function plusSlides(n) { showSlides(slideIndex += n); clearTimeout(mySto); } function
    currentSlide(n) { showSlides(slideIndex = n); } function showSlides(n) { var i; var slides =
    document.getElementsByClassName("mySlides"); if (n==undefined){n = ++slideIndex} if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex=slides.length} for (i=0; i < slides.length; i++) { slides[i].style.display="none" ; }
      slides[slideIndex-1].style.display="block" ; mySto=setTimeout(showSlides, 5000); } var slideIndex=1; var mySto;
      function plusSlides(n) { showSlides(slideIndex +=n); clearTimeout(mySto); } function currentSlide(n) {
      showSlides(slideIndex=n); } function showSlides(n) { var i; var slides=document.getElementsByClassName("mySlides"); if
      (n==undefined){n=++slideIndex} if (n> slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex=slides.length} for (i=0; i < slides.length; i++) { slides[i].style.display="none" ; }
        slides[slideIndex-1].style.display="block" ; mySto=setTimeout(showSlides, 5000); }
    // SCRIPT FORMULAIRE

        let  clients = [];
          // example {id:1592304983049, title: 'Deadpool', year: 2015}
          const addClient = (ev) => {
            ev.preventDefault(); //to stop the form submitting
            let client = {
              id: Date.now(),
              Nom: document.getElementById("nom").value,
              Prenom: document.getElementById("prenom").value,
              Age: document.getElementById("age").value,
              Telephone: document.getElementById("telephone").value,
              Adresse: document.getElementById("adresse").value,
              Sexe: document.getElementById("sexe").value
            }
            clients.push(client);
            document.forms[0].reset(); //
            //document.querySelector('form').reset();
            //for display purposes only
            console.warn("added", { clients });
            let pre = document.querySelector("#msg pre");
            //saving to localStorage
            localStorage.setItem("utilisateur", JSON.stringify(clients));
          };
          document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("submit").addEventListener("click", addClient);
          });

    </script>
  </body>
  <footer>
    <% include partials/footer %>
  </footer>
  <% include partials/script %>
</html>
